<script src="./js/references.js"></script>
<main>

    <hr>
    <div class="content-wrapper">
        <div class="col-t34-left">
            <h3>Explore our references</h3>
            <div class="card card-inverse" style="padding:6px;margin:0 auto;width:95%;border-radius:3px;text-align:center;background-color:#f3f3f3;border-color:#333">
                <br>
                <h4 class="card-header">Announcement</h4>
                <div class="card-block">
                    <p class="card-text">We are still filling all the categories. For now are filled manually but in the coming days will be an automatic process using an API with Django.
                        <br><br> If you want to contribuite with your publications, feel free to contact to our team, and we will answer you shortly.
                    </p>
                    <a id="contact-btn" href="#" class="btn btn-primary">Contact</a>
                    <br><br>
                </div>
            </div>
            <br><br>
        </div>
        <div class="col-t34-right">
            <div class="col-t34-auxr">
                <h3>Categories</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span> Algorithms
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span> Simulators
                    </li>
                    <li class="list-group-item">
                        <span class="badge">48</span> Scripts
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span> Plugins
                    </li>
                    <li class="list-group-item">
                        <span class="badge">20</span> Tutorials
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="featured-content">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>Algorithms</h3>
                        <p>Find references about <em>algorithms</em> used in MANETs</p>
                        <p>
                            <a id="explore-algs" href="#" class="btn btn-primary" role="button">Explore</a> <a href="#" class="btn btn-default" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>Simulators</h3>
                        <p>Find references about <em>simulators</em> used in MANETs.</p>
                        <p>
                            <a id="explore-sims" href="#" class="btn btn-primary disabled" role="button">Explore</a> <a href="#" class="btn btn-default disabled" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>Scripts</h3>
                        <p>Find references about <em>scripts</em> used in MANET deployments.</p>
                        <p>
                            <a id="explore-scripts" href="#" class="btn btn-primary disabled" role="button">Explore</a> <a href="#" class="btn btn-default disabled" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>Plugins</h3>
                        <p>Find references about <em>plugins</em> used in MANET's simulators.</p>
                        <p>
                            <a id="explore-plugins" href="#" class="btn btn-primary disabled" role="button">Explore</a> <a href="#" class="btn btn-default disabled" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>Tutorials</h3>
                        <p>Find tutorials about how to deploy your first ad hoc environment.</p>
                        <p>
                            <a id="explore-tutorials" href="#" class="btn btn-primary disabled" role="button">Explore</a> <a href="#" class="btn btn-default disabled" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>iMANET</h3>
                        <p>Find references about <em>iMANETs</em>.</p>
                        <p>
                            <a id="explore-imanets" href="#" class="btn btn-primary disabled" role="button">Explore</a> <a href="#" class="btn btn-default disabled" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>VANET</h3>
                        <p>Find references about <em>VANETs</em>.</p>
                        <p>
                            <a id="explore-vanets" href="#" class="btn btn-primary disabled" role="button">Explore</a> <a href="#" class="btn btn-default disabled" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="img/community.jpg" alt="...">
                    <div class="caption">
                        <h3>DTN</h3>
                        <p>Find references about <em>Delay Tolerant Networking</em>.</p>
                        <p>
                            <a id="explore-dtn" href="#" class="btn btn-primary disabled" role="button">Explore</a> <a href="#" class="btn btn-default disabled" role="button">Contribute</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>