<div class="btn-group btn-group-justified">
						<a href="#" class="btn btn-primary col-sm-3">
							<i class="glyphicon glyphicon-plus"></i>
							<br> Section
						</a>
						<a href="#" class="btn btn-primary col-sm-3">
							<i class="glyphicon glyphicon-cloud"></i>
							<br> Cloud
						</a>
						<a href="#" class="btn btn-primary col-sm-3">
							<i class="glyphicon glyphicon-cog"></i>
							<br> Tools
						</a>
				
					</div>

					<hr>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>New Requests</h4></div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item active">Hosting virtual mailbox serv..</a>
								<a href="#" class="list-group-item">Dedicated server doesn't..</a>
								<a href="#" class="list-group-item">RHEL 6 install on new..</a>
							</div>
						</div>
					</div>
				</div>