<script src="./js/data-algs.js"></script>
<div class="panel panel-default">
    <div class="panel-heading">Algorithms reference</div>
    <div class="panel-body">
        <p>Lorem loroolor laudantium? Mollitia laborum soluta consequatur excepturi natus numquam rem culpa!</p>
        <p><a id="backToCategories" href="#">Back to categories</a></p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>File</th>
                <th>Username</th>
                <th>Source</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="t-algs">
            <tr>
                <th scope="row">1</th>
                <td><a target="_blank" href="https://www.researchgate.net/publication/265060513_Simulation_and_Analysis_of_AODV_routing_protocol_in_VANETs">Simulation and Analysis of AODV</a></td>
                <td>@Anil Kumar</td>
                <td>Research Gate</td>
                <td>Dec 4th of 2017</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>X.pdf</td>
                <td>@Iva</td>
                <td>IEEE</td>
                <td>Dec 5th of 2017</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>X.pdf</td>
                <td>@Yoram</td>
                <td>Research Gate</td>
                <td>Dec 1th of 2017</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>X.pdf</td>
                <td>@Cristina</td>
                <td>ACM</td>
                <td>Dec 7th of 2017</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>C.pdf</td>
                <td>@Casper</td>
                <td>Elsevier</td>
                <td>Nov 3th of 2017</td>
            </tr>
        </tbody>
    </table>
</div>