{% extends 'backend/backend.html' %}
{% load staticfiles %}

{% block content %}

<h4>Algorithm - Left Column</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Publisher</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for section in sections %}
    <tr>
      <th scope="row">{{ section.pk }}</th>
      <td><a href="{% url 'algol_detail' pk=section.pk %}">{{ section.title }}</td>
      <td>{{ section.published_date }}</td>
      <td>@{{ section.author }}</td>
      <td> <a class="glyphicon glyphicon-pencil" alt="Edit {{ section.title }}" href="{% url 'back_alg_edit' pk=section.pk %}"></a>
        <a class="glyphicon glyphicon-trash" href="{% url 'back_alg_remove' pk=section.pk %}"></a></td>
    </tr>
    {% endfor %}
</table>

<h4>Algorithm - Right Column</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Publisher</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for section in sectionsR %}
    <tr>
      <th scope="row">{{ section.pk }}</th>
      <td><a href="{% url 'algor_detail' pk=section.pk %}">{{ section.title }}</td>
      <td>{{ section.published_date }}</td>
      <td>@{{ section.author }}</td>
      <td> <a class="glyphicon glyphicon-pencil" alt="Edit {{ section.title }}" href="{% url 'back_algR_edit' pk=section.pk %}"></a>
        <a class="glyphicon glyphicon-trash" href="{% url 'back_algR_remove' pk=section.pk %}"></a></td>
    </tr>
    {% endfor %}
   </table>
{% endblock %}