{% extends 'backend/backend.html' %}
{% load staticfiles %}

{% block content %}

<table class="table">
        <thead>
            <tr>
                <th>UID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Staff?</th>
                <th>Active?</th>
            </tr>
        </thead>
        <tbody id="t-algs">
        	{% for user in user %}
            <tr>
                <th scope="row">{{ user.pk }}</th>
                
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_staff }}</td>
                <td>{{ user.is_active }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}