*{
  padding:0;
  margin:0;
}

img{
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

header{
  width: 100%;
  max-width: 1200px;
  padding: 25px;
  margin: 0 auto;
}

.headerContent{
}

nav{
/*  top: 100px; */
  font-size: 110%;
  margin: 0 auto;
  max-width: 1200px;
  /*background-color: green;*/
}

hr{
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#main{
  /* width: 100%; */
  margin:0 auto;
  height: auto;
  max-width: 1200px;
/*  padding: 20px;*/
  padding-bottom: 20px;
}

.counterStats{
  width: 100%;
  /*height: 100px;*/
  vertical-align: middle;
  text-align: center;
}
.counterStatsBar{
  width: 85%;
  /*height: 100px;*/
  vertical-align: middle;
  text-align: left;
  margin: 0 auto;
}
.counterInner{
  width: 24%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 6px;
/*  border-style: dotted solid;*/

}

.content-wrapper{
  margin: 0 auto;
  width: 99%;
  display: flex; /* Top */

/*  padding: 1px;
*/  /*padding: 10px;*/
}

.col-left {
  padding-left: 2px;
  padding-right: 2px;
  width: 49.8%;
  display: inline-block;

  /*margin-right: 10px;*/
}
.col-right {
  padding-left: 2px;
  width: 49.8%;
  display: inline-block;
  /*margin-left: 10px;*/
}

/* t34 = template 3/4, first column 3/4, second 1/4 */
.col-t34-left {
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  display: inline-block;
}

.col-t34-right {
  padding-left: 2px;
  width: 33%;
  display: inline-block;
}

.col-t34-auxl{ /*Aux left*/
  width: 40%;
  display: inline-block;
}

.col-t34-auxr{ /*Aux right*/
  width: 100%;
  display: inline-block;
}

.featured-content{
  width: 100%;
  display: inline-block;
  padding: 10px;
}

.login-box{
  width: 40%;
  margin: 0 auto;
}

.firstcharacter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.tab { 
  margin-left: 40px; 
}

figcaption{
  text-align: center;
  font-style: italic;
}

.info-footer{
  color:#d2d2d2;
}
.form-back{
  margin: 0 auto;
  width: 65%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}

#success_message{ display: none;}
/*.card{
  padding: 5px;
  border-width: 0.5px;
  border-style: solid;
}*/

